<h1>Enter a date range to see the total sales</h1>

<form action="/sales/report">
  <div class="form-group">
    <label for="start_date">Start Date:</label>
    <input id="start_date" name='start_date' class="form-control" type="date">
  </div>
  <div class="form-group">
    <label for="end_date">End Date:</label>
    <input id="end_date" name='end_date' class="form-control" type="date">
  </div>
  <button type="submit" name="button">Submit</button>
</form>
